body{
    
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    
    /*ancho y altura*/
    width: 100%;
    height: 60px;
}

header nav{

    display: flex;
    /*Justificar a la derecha los elementos*/
    justify-content: flex-end;

}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    /*eliminar puntos*/
    list-style: none;
    justify-content: center;
    align-items: center;

}

a{
    text-decoration: none;
    cursor: pointer;
}

nav .nav-right-section a{
    margin-right:25px ;
    color: rgb(21, 21, 21);

}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}

/*Imagen del usuario*/
nav .nav-right-section img{
    border-radius: 60px;
    margin-left:20px;
    width: 35px;
    height: 35px;
}

/*Main*/
main {
    margin-top: 150px;
    text-align: center;
}

/*centrar logo google*/
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    
    height: 120px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius:  100px;
    border: 1px solid rgb(3, 113, 80);
    display: flex;
    justify-content: center;
    align-items: center;

}

main .main-input input{
    border: none;
    width: 550px;
    height:  40px;
    outline: none;

}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 2px rgb(114, 216, 176);
    border-color: darkgreen;

}

main .main-input .search-icon{
    background-image: url("https://img.icons8.com/android/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 14px;
    height: 14px;
    padding-left: 6%;

}

main .main-input .micro-icon{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    padding-left: 1%;

}
main .main-input .cam-icon{
    background-image: url("https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-right: 7%;

}
main .main-buttons{
    width: 550px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
    
}
main .main-buttons button{
    border: 0;
    height: 36px;

    background-color: antiquewhite;
    font-size: 14px;
    color: rgb(27, 107, 74);
    border-radius: 4px;
    padding: 0 15px;
    margin-right: 15px;
    border: 1px solid #f8f8f8;
}

main .main-buttons button:hover{
    box-shadow: 0 1 px 1px regba(0,0,0,.1);
    background-color: #f8f8f8;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

/*Footer*/
footer{
    /*Utiliza el 100 de la pagina*/
    width: 100%; 
    height: 50px;
    /*la especificacion de la posición*/
    position: absolute;
    font-size: 13px;
    /*anchura del borde*/
    border-top: 1px solid #e4e4e4;

    /*Dividir en columnas*/
    display: grid;
    /*Dos columnas*/
    grid-template-columns: 1fr 1fr;
    align-items: center;
    bottom: 0;

}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;

}

footer .footer-right{
    justify-self: right;
    
}

footer ul li a{
    color: #70757a;
    margin: 10px;
}

